@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2e2e2;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h3{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h4{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h5{
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h6{
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
p{
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
a{
  color: blue;
  text-decoration: underline;
}
a:hover{
  color: darkblue;
}